qwen-tts==0.1.1
accelerate==1.12.0
transformers==4.57.3
huggingface-hub==0.34.4
safetensors==0.5.3
librosa==0.11.0
soundfile==0.13.1
sentencepiece==0.2.1
tensorboard==2.20.0
mlflow==3.10.1
einops==0.8.1
onnxruntime==1.23.1
sox==1.5.0
pyarrow==23.0.1
